<% if user_signed_in? then %>
  <li>
    <%= link_to current_user do %>
      <%= current_user.firstname %> <%=current_user.lastname %>
    <% end %>
  </li>
  <li>
    <%= link_to  destroy_user_session_path, method: :delete do %>
      <i class="glyphicon glyphicon-log-out"></i> Se déconnecter
    <% end %>
  </li>
  
  <% else %>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%= link_to  new_user_registration_path do %>
	<i class="glyphicon glyphicon-user"></i> S'enregistrer
      <% end %>
    </li>
    <li>
      <%= link_to  new_user_session_path do %>
	<i class="glyphicon glyphicon-log-in"></i> Se connecter
      <% end %>
    </li>
  </ul>
<% end %>
